body {
    background-image: url(https://i.ibb.co/Wt6q4QP/1-y-X7-Vd1-G1wi9-F0vth-LEh-AA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .clock {
    width: 550px;
    height: 550px;
    background-image: url(https://i.ibb.co/dBGxSK1/hiclipart-com-3.png);
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    border-radius: 50%;
    position: relative;
    left: 450px;
  }
  .clock-arrow{
    position: absolute;
    background-color: black;
    transform-origin: bottom;
    transform: translateX(-50%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .clock-center {
    position: absolute;  
    background-color: black;
    top: 268px;
    left: 268px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .clock-seconds__arrow {
    bottom: 50%;
    left: 50%;
    width: 5px;
    height: 40%;
  }
  .clock-minutes__arrow {
    bottom: 50%;
    left: 50%;
    width: 7px;
    height: 33%;
  }
  .clock-hours__arrow {
    bottom: 50%;
    left: 50%;
    width: 12px;
    height: 24%;
  }
  .date{
    width: 100px;
    height: 100px;
    color: black;
  }
  .calendar {
    display: flex;
    justify-content: space-between;
  }
  .date-style {
    display: flex;
    font-size: 40px;
    font-weight: 900;
    text-shadow: 3px 3px 2px #CECBCD;
  }
  .digital-clock{
    text-align: center;
    font-size: 60px;
    text-shadow: 3px 3px 2px #CECBCD;
  }





  /* .box{
    display: none;
    width:200px;
    height: 200px;
    border: 1px black solid;
  } */